<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>USER PAGE</title>
</head>
<body>
<h1>USER PAGE</h1>
<dl>
    <dt>username</dt>
    <dd sec:authentication="principal.username"></dd>
    <dt>authorities</dt>
    <dd sec:authentication="principal.authorities"></dd>
</dl>

<div sec:authorize="hasAuthority('AUTH_SHOW_ADMIN_PAGE')">
    <a th:href="@{/admin}">to admin page</a>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<h2>OPERATIONS</h2>
<ul>
    <li sec:authorize="hasAuthority('AUTH_CREATE_USER')">
        <a href="/operations/create-user">ユーザ作成</a>
    </li>

    <li sec:authorize="hasAuthority('AUTH_SHOW_ALL')">
        <a href="/operations/show-all">一覧表示</a>
    </li>
</ul>

</body>
</html>