<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:if="${param.error}" class="alert alert-danger">
        Invalid Name and Password.
    </div>
    <div th:if="${param.logout}" class="alert alert-info">
        You have been logged out.
    </div>
    <div>
        <ul>
            <li>一般ユーザ id: "user" , password: "password"</li>
            <li>管理者ユーザ id: "admin" , password: "password"</li>
        </ul>
        <form th:action="@{/login}" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Name" required="required"
                   autofocus="autofocus" name="username"/>
            <label for="password">Password</label>
            <input type="password" id="password"
                   placeholder="Password" required="required" name="password"/>
            <button type="submit">Sign in</button>
        </form>
    </div>
</div>
</body>
</html>