<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <title>USER PAGE</title>
</head>
<body>
<div class="container">
    <h1>USER PAGE</h1>
    <dl>
        <dt>username</dt>
        <dd sec:authentication="principal.username"></dd>
        <dt>authorities</dt>
        <dd sec:authentication="principal.authorities"></dd>
    </dl>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <h2>一覧</h2>
    <ul>
        <li>
            <a th:href="@{/user}">ユーザページ</a>
            <span sec:authorize="!hasAuthority('SHOW_USER_PAGE')">許可されてません</span>
            <span sec:authorize="hasAuthority('SHOW_USER_PAGE')">許可されてます</span>
        </li>

        <li>
            <a th:href="@{/admin}">管理者ページ</a>
            <span sec:authorize="!hasAuthority('SHOW_ADMIN_PAGE')">許可されてません</span>
            <span sec:authorize="hasAuthority('SHOW_ADMIN_PAGE')">許可されてます</span>
        </li>

        <li>
            <a th:href="@{/create-user}">ユーザ作成</a>
            <span sec:authorize="!hasAuthority('CREATE_USER')">許可されてません</span>
            <span sec:authorize="hasAuthority('CREATE_USER')">許可されてます</span>
        </li>

        <li>
            <a th:href="@{/all-user}">一覧表示</a>
            <span sec:authorize="!hasAuthority('SHOW_ALL')">許可されてません</span>
            <span sec:authorize="hasAuthority('SHOW_ALL')">許可されてます</span>
        </li>

    </ul>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>